html,body{
    margin: 0;
    padding: 0;
}

.dashboard{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fafafa;
    padding: 1%;
}

.input-container{
    width: 40%;
    margin: 0 auto;
    height: 60px;
}

input[type=text]{
    width: 60%;
    padding: 3px;
    border: solid lightblue;
}

input[type=text]:focus{
    border: none;
}

input[type=submit]{
    margin-left: 10px;
    padding: 2px 5px;
    background: transparent;
    border: 2px solid lightblue;
    color: blue;
}

.result-container{
    width: 80%;
    max-width: 1024px;
    margin: 10px auto 0 auto;
}

.result{
    width: 80%;
    height: 50px;
    background-color: lightblue;
    margin: 0 auto 10px auto;
}

.compose-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid lightblue;
    cursor: pointer;
    padding: 3px 10px;
}